.die {
  font-size: 10rem;
  padding: 0.5rem;
  color: lightsteelblue;

  &__container {
    border: 4px solid ghostwhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
