.lotto {
  &__balls {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    background-color: red;
  }

  &__ball {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    border-radius: 50%;
    background-color: red;
    height: 18rem;
    width: 18rem;
    margin: 1rem;
  }
}
