@import './sass/components/die';

@import url('https://fonts.googleapis.com/css?family=Heebo:700&display=swap');

.App {
  text-align: center;
  background-color: darksalmon;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.die__number {
  font-size: 9rem;
  margin: 0;
}

.header {
  /* border: 10px solid red; */
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Heebo';
}

i {
  font-size: 10rem;
}

.container {
  border: 1px solid black;
}
