@import './sass/components/die';

@import url('https://fonts.googleapis.com/css?family=Heebo:700&display=swap');

@import './sass/components/die.scss';
@import './sass/components/game.scss';
@import './sass/components/lotto.scss';

.App {
  text-align: center;
  background-color: #707040;
  color: wheat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  border: 10px solid red;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Heebo';
}
