.App {
  text-align: center;
  background-color: darksalmon;
  height: 100%;
}

.die__number {
  font-size: 9rem;
  margin: 0;
}

.die__header {
  /* border: 10px solid red; */
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
